<style>
  :host {
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    flex-direction: column;
    /* width: max-content; */
  }

  .chip-live-demo {
    /* padding: 120px 48px; */
  }

  .chip-live-demo groupui-chip {
    margin-inline-end: 16px;
  }
</style>

<main class="main">
  <div class="content">
    <groupui-text>
      <h1>GroupUI</h1>
      <p>
        GroupUI is a collection of Angular components that can be used to build
        web applications.
      </p>
    </groupui-text>

    <div class="chip-live-demo container-border flex-center" brand="vwgroup">
      <groupui-chip color="information" target="self" variant="primary"
        >Lorem ipsum</groupui-chip
      >
      <groupui-chip color="information" target="self" variant="secondary"
        >Lorem ipsum</groupui-chip
      >
      <groupui-chip color="warning" target="self">Warning</groupui-chip>
    </div>
  </div>
</main>

<router-outlet />
