<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    flex-direction: column;
    /* width: max-content; */
  }

  .chip-live-demo groupui-chip {
    margin-inline-end: 16px;
  }
</style>

<main class="main">
  <div class="content">
    <div class="block">
      <div>Default text Lorem ipsum ...</div>
    </div>

    <div class="block border">
      <groupui-headline
        font-variant="TheGroupHEAD-Light"
        serif="true"
        weight="light"
        heading="h1"
        >Headline H1 Light</groupui-headline
      >
      <groupui-headline heading="h1">Headline H1</groupui-headline>
    </div>

    <div class="block border">
      <groupui-text>
        <h1>GroupUI</h1>
        <p>
          GroupUI is a collection of Angular components that can be used to
          build web applications.
        </p>
      </groupui-text>
    </div>

    <div class="block border">
      <groupui-text size="theTypedTextSize" weight="theTypedWeight"
        >Some typed text here (doesn't seem to have any effect)
        ...</groupui-text
      >
    </div>

    <div class="block border d-flex gap">
      <groupui-chip color="information" target="self" variant="primary"
        >Lorem ipsum</groupui-chip
      >
      <groupui-chip color="information" target="self" variant="secondary"
        >Lorem ipsum</groupui-chip
      >
      <groupui-chip color="warning" target="self">Warning</groupui-chip>
    </div>

    <div class="block border d-flex gap">
      <groupui-button variant="primary" icon="add-24">Primary</groupui-button>
      <groupui-button variant="secondary" icon="add-24"
        >Secondary</groupui-button
      >
      <groupui-button variant="tertiary" icon="add-24">Tertiary</groupui-button>
    </div>

    <div class="block border d-flex gap">
      <groupui-icon name="clock-24" />

      <img src="assets/vwgroup/check-48.svg" />
      <img src="assets/confidential-internal-l.svg" />
    </div>

    <div class="block border">
      <carplan-header-controls-bar>
        <carplan-bar-button>
          {{ label }}
        </carplan-bar-button>
      </carplan-header-controls-bar>
    </div>

    <div class="block border d-flex gap">
      <carplan-card testId="testId" style="width: 390px">
        <img
          slot="head-top"
          src="{{ imgSrc }}"
          height="72px"
          width="auto"
          alt="{{ imgAlt }}"
        />

        <h4 slot="head-start">{{ cardTitle }}</h4>
        <carplan-tag slot="head-start">{{ tag_1 }}</carplan-tag>
        <carplan-tag slot="head-start">{{ tag_2 }}</carplan-tag>

        <carplan-flat-icon-button slot="head-end" (click)="menuClick($event)" />
        <carplan-tag
          slot="head-end"
          [variant]="variant"
          iconStartName="notification"
        >
          {{ count }}
        </carplan-tag>

        <div slot="content">{{ content }}</div>
      </carplan-card>
    </div>
  </div>
</main>

<router-outlet />
